.callout {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f5f5f5;
    color: #000;
}

.callout img {
    float: right;
    margin: 0 0 10px 10px;
    border: 1px solid #000;
    padding: 3px;
    background-color: #fff;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 10px;
}

cite {
    display: block;
    border-top: 1px solid #999;
    padding-top: 10px;
    text-align: right;
    font-size: 0.9em;
}